
  table {
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
  font-size: 24px;
  letter-spacing: 1px;
  width: 600px;
  th,
td {
  border: 2px solid rgb(0, 0, 0);
  padding: 8px 10px;
 }
 th{
  color: white;
}
thead{
  background-color: black;
}
tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}
}

.item {
  font-size: 20px;
  font-weight: 600;
}
